*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #93CCF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.top{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: #bf79a2; */
    background-color: #3d48c2;
    position: sticky;
    position: fixed;
}
.top .mbaza{
    color: #FBFEF9;
    font-size: 20px;
    font-weight: 700;
    padding: 10px ;

}
.top nav{
    display: flex;
}
.top nav li{
    list-style-type: none;
    
}
.top nav li a{
    text-decoration: none;
    padding: 10px 20px;
    margin: 3px;
    color: #bf79a2;
    font-size: 18px;
    font-weight: 600;
}
.top nav li a:hover{
    transition: 2ms ease-in;
    border-bottom: 2px solid #bf79a2;
}

.middle{
    width: 80%;
    margin-top: 78px;
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.mall{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.middle .gif{
    width: 100%;
}
.middle .gif img{
    width: 100%;
}
.middle .middlefirst{
    width: 69.7%;
    background-color: #3d48c2;


}
.middle .middlesecond{
    width: 29.7%;
    background-color: #7076b5;
} 