{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="top">
        <span class= "mbaza">MBAZA</span>
        <nav>
            <li><a href="">Home</a></li>
            <li><a href="">Quiz</a></li>
            <li><a href="">Login</a></li>
        </nav>
        <div class ="rightside">

        </div>
    </section>

    <section class="middle">
        <div class="gif">
            <img src="{% static 'images/knowledge.gif' %}" alt="banner" width= "700"srcset="">
        </div>
        <div class="mall">
            <div class="middlefirst">
                lorem ipsum dolor sit amet, consectetur adipis
            </div>
            <div class="middlesecond ">
                lorem ipsum dolor sit amet, consectetur adipis
            </div>
        </div>
         <img src="{% static 'screen.png' %}" alt="" srcset="" width="500">
    welcome
    Lorem ipsum dolor sit amet,
     consectetur adipisicing elit, est impedit. Adipisci possimus odit corrupti fuga repellendus rerum consequuntur! Dolore voluptate, beatae ipsam itaque similique consequuntur magni cum non quisquam voluptatem iste asperiores corporis, quas totam facere consectetur minus labore? Nisi maxime libero voluptatem molestiae dolorum debitis voluptatum necessitatibus ipsam ipsum soluta quam quia iusto in aliquam, ea illum tempora porro nam nihil natus, nesciunt aliquid. Commodi cupiditate corrupti, neque modi provident temporibus odio recusandae dicta soluta iure aliquid necessitatibus cumque, amet et itaque quae quisquam? Excepturi reiciendis molestias voluptatem cupiditate velit! Totam ab quaerat quod molestiae illum, esse excepturi.
    </section>
   
</body>
</html>